{
	"openapi": "3.0.3",
	"info": {
		"title": "GitHub REST API (FasterGH subset)",
		"version": "1.1.4"
	},
	"servers": [
		{
			"url": "https://api.github.com"
		}
	],
	"paths": {
		"/app/installations/{installation_id}/access_tokens": {
			"post": {
				"summary": "Create an installation access token for an app",
				"description": "Creates an installation access token that enables a GitHub App to make authenticated API requests for the app's installation on an organization or individual account. Installation tokens expire one hour from the time you create them. Using an expired token produces a status code of `401 - Unauthorized`, and requires creating a new installation token. By default the installation token has access to all repositories that the installation can access.\n\nOptionally, you can use the `repositories` or `repository_ids` body parameters to specify individual repositories that the installation access token can access. If you don't use `repositories` or `repository_ids` to grant access to specific repositories, the installation access token will have access to all repositories that the installation was granted access to. The installation access token cannot be granted access to repositories that the installation was not granted access to. Up to 500 repositories can be listed in this manner.\n\nOptionally, use the `permissions` body parameter to specify the permissions that the installation access token should have. If `permissions` is not specified, the installation access token will have all of the permissions that were granted to the app. The installation access token cannot be granted permissions that the app was not granted.\n\nYou must use a [JWT](https://docs.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.",
				"tags": ["apps"],
				"operationId": "apps/create-installation-access-token",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/apps/apps#create-an-installation-access-token-for-an-app"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/installation-id"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"repositories": {
										"description": "List of repository names that the token should have access to",
										"type": "array",
										"items": {
											"type": "string",
											"example": "rails"
										}
									},
									"repository_ids": {
										"description": "List of repository IDs that the token should have access to",
										"example": [1],
										"type": "array",
										"items": {
											"type": "integer"
										}
									},
									"permissions": {
										"$ref": "#/components/schemas/app-permissions"
									}
								}
							},
							"examples": {
								"default": {
									"value": {
										"repositories": ["Hello-World"],
										"permissions": {
											"issues": "write",
											"contents": "read"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/installation-token"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/installation-token"
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/requires_authentication"
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "apps",
					"subcategory": "apps"
				}
			}
		},
		"/repos/{owner}/{repo}": {
			"get": {
				"summary": "Get a repository",
				"description": "The `parent` and `source` objects are present when the repository is a fork. `parent` is the repository this repository was forked from, `source` is the ultimate source for the network.\n\n> [!NOTE]\n> - In order to see the `security_and_analysis` block for a repository you must have admin permissions for the repository or be an owner or security manager for the organization that owns the repository. For more information, see \"[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization).\"\n> - To view merge-related settings, you must have the `contents:read` and `contents:write` permissions.",
				"tags": ["repos"],
				"operationId": "repos/get",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/repos/repos#get-a-repository"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/full-repository"
								},
								"examples": {
									"default-response": {
										"$ref": "#/components/examples/full-repository-default-response"
									}
								}
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "repos",
					"subcategory": "repos"
				}
			}
		},
		"/repos/{owner}/{repo}/branches": {
			"get": {
				"summary": "List branches",
				"description": "",
				"tags": ["repos"],
				"operationId": "repos/list-branches",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/branches/branches#list-branches"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"name": "protected",
						"description": "Setting to `true` returns only branches protected by branch protections or rulesets. When set to `false`, only unprotected branches are returned. Omitting this parameter returns all branches.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "boolean"
						}
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/short-branch"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/short-branch-with-protection-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "branches",
					"subcategory": "branches"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls": {
			"get": {
				"summary": "List pull requests",
				"description": "Lists pull requests in a specified repository.\n\nDraft pull requests are available in public repositories with GitHub\nFree and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing\nplans, and in public and private repositories with GitHub Team and GitHub Enterprise\nCloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products)\nin the GitHub Help documentation.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/list",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/pulls#list-pull-requests"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"name": "state",
						"description": "Either `open`, `closed`, or `all` to filter by state.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["open", "closed", "all"],
							"default": "open"
						}
					},
					{
						"name": "head",
						"description": "Filter pulls by head user or head organization and branch name in the format of `user:ref-name` or `organization:ref-name`. For example: `github:new-script-format` or `octocat:test-branch`.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "base",
						"description": "Filter pulls by base branch name. Example: `gh-pages`.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "sort",
						"description": "What to sort results by. `popularity` will sort by the number of comments. `long-running` will sort by date created and will limit the results to pull requests that have been open for more than a month and have had activity within the past month.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["created", "updated", "popularity", "long-running"],
							"default": "created"
						}
					},
					{
						"name": "direction",
						"description": "The direction of the sort. Default: `desc` when sort is `created` or sort is not specified, otherwise `asc`.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"]
						}
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/pull-request-simple"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/pull-request-simple-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"304": {
						"$ref": "#/components/responses/not_modified"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "pulls"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}": {
			"get": {
				"summary": "Get a pull request",
				"description": "Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations, GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.\n\nLists details of a pull request by providing its number.\n\nWhen you get, [create](https://docs.github.com/rest/pulls/pulls/#create-a-pull-request), or [edit](https://docs.github.com/rest/pulls/pulls#update-a-pull-request) a pull request, GitHub creates a merge commit to test whether the pull request can be automatically merged into the base branch. This test commit is not added to the base branch or the head branch. You can review the status of the test commit using the `mergeable` key. For more information, see \"[Checking mergeability of pull requests](https://docs.github.com/rest/guides/getting-started-with-the-git-database-api#checking-mergeability-of-pull-requests)\".\n\nThe value of the `mergeable` attribute can be `true`, `false`, or `null`. If the value is `null`, then GitHub has started a background job to compute the mergeability. After giving the job time to complete, resubmit the request. When the job finishes, you will see a non-`null` value for the `mergeable` attribute in the response. If `mergeable` is `true`, then `merge_commit_sha` will be the SHA of the _test_ merge commit.\n\nThe value of the `merge_commit_sha` attribute changes depending on the state of the pull request. Before merging a pull request, the `merge_commit_sha` attribute holds the SHA of the _test_ merge commit. After merging a pull request, the `merge_commit_sha` attribute changes depending on how you merged the pull request:\n\n*   If merged as a [merge commit](https://docs.github.com/articles/about-merge-methods-on-github/), `merge_commit_sha` represents the SHA of the merge commit.\n*   If merged via a [squash](https://docs.github.com/articles/about-merge-methods-on-github/#squashing-your-merge-commits), `merge_commit_sha` represents the SHA of the squashed commit on the base branch.\n*   If [rebased](https://docs.github.com/articles/about-merge-methods-on-github/#rebasing-and-merging-your-commits), `merge_commit_sha` represents the commit that the base branch was updated to.\n\nPass the appropriate [media type](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types) to fetch diff and patch formats.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.\n- **`application/vnd.github.diff`**: For more information, see \"[git-diff](https://git-scm.com/docs/git-diff)\" in the Git documentation. If a diff is corrupt, contact us through the [GitHub Support portal](https://support.github.com/). Include the repository name and pull request ID in your message.",
				"tags": ["pulls"],
				"operationId": "pulls/get",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/pulls#get-a-pull-request"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					}
				],
				"responses": {
					"200": {
						"description": "Pass the appropriate [media type](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types) to fetch diff and patch formats.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/pull-request"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/pull-request"
									}
								}
							}
						}
					},
					"304": {
						"$ref": "#/components/responses/not_modified"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"406": {
						"$ref": "#/components/responses/unacceptable"
					},
					"500": {
						"$ref": "#/components/responses/internal_error"
					},
					"503": {
						"$ref": "#/components/responses/service_unavailable"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "pulls"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}/merge": {
			"put": {
				"summary": "Merge a pull request",
				"description": "Merges a pull request into the base branch.\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\" and \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"",
				"tags": ["pulls"],
				"operationId": "pulls/merge",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/pulls#merge-a-pull-request"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"nullable": true,
								"properties": {
									"commit_title": {
										"type": "string",
										"description": "Title for the automatic commit message."
									},
									"commit_message": {
										"type": "string",
										"description": "Extra detail to append to automatic commit message."
									},
									"sha": {
										"type": "string",
										"description": "SHA that pull request head must match to allow merge."
									},
									"merge_method": {
										"type": "string",
										"description": "The merge method to use.",
										"enum": ["merge", "squash", "rebase"]
									}
								}
							},
							"examples": {
								"response-if-merge-was-successful": {
									"value": {
										"commit_title": "Expand enum",
										"commit_message": "Add a new value to the merge_method enum"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "if merge was successful",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/pull-request-merge-result"
								},
								"examples": {
									"response-if-merge-was-successful": {
										"$ref": "#/components/examples/pull-request-merge-result-response-if-merge-was-successful"
									}
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"405": {
						"description": "Method Not Allowed if merge cannot be performed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"documentation_url": {
											"type": "string"
										}
									}
								},
								"examples": {
									"response-if-merge-cannot-be-performed": {
										"value": {
											"message": "Pull Request is not mergeable"
										}
									}
								}
							}
						}
					},
					"409": {
						"description": "Conflict if sha was provided and pull request head did not match",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"documentation_url": {
											"type": "string"
										}
									}
								},
								"examples": {
									"response-if-sha-was-provided-and-pull-request-head-did-not-match": {
										"value": {
											"message": "Head branch was modified. Review and try the merge again."
										}
									}
								}
							}
						}
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"triggersNotification": true,
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "pulls"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}/reviews": {
			"get": {
				"summary": "List reviews for a pull request",
				"description": "Lists all reviews for a specified pull request. The list of reviews returns in chronological order.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github-commitcomment.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github-commitcomment.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github-commitcomment.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/list-reviews",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/reviews#list-reviews-for-a-pull-request"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "The list of reviews returns in chronological order.",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/pull-request-review"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/pull-request-review-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "reviews"
				}
			},
			"post": {
				"summary": "Create a review for a pull request",
				"description": "Creates a review on a specified pull request.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\" and \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"\n\nPull request reviews created in the `PENDING` state are not submitted and therefore do not include the `submitted_at` property in the response. To create a pending review for a pull request, leave the `event` parameter blank. For more information about submitting a `PENDING` review, see \"[Submit a review for a pull request](https://docs.github.com/rest/pulls/reviews#submit-a-review-for-a-pull-request).\"\n\n> [!NOTE]\n> To comment on a specific line in a file, you need to first determine the position of that line in the diff. To see a pull request diff, add the `application/vnd.github.v3.diff` media type to the `Accept` header of a call to the [Get a pull request](https://docs.github.com/rest/pulls/pulls#get-a-pull-request) endpoint.\n\nThe `position` value equals the number of lines down from the first \"@@\" hunk header in the file you want to add a comment. The line just below the \"@@\" line is position 1, the next line is position 2, and so on. The position in the diff continues to increase through lines of whitespace and additional hunks until the beginning of a new file.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github-commitcomment.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github-commitcomment.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github-commitcomment.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/create-review",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/reviews#create-a-review-for-a-pull-request"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"commit_id": {
										"type": "string",
										"description": "The SHA of the commit that needs a review. Not using the latest commit SHA may render your review comment outdated if a subsequent commit modifies the line you specify as the `position`. Defaults to the most recent commit in the pull request when you do not specify a value."
									},
									"body": {
										"type": "string",
										"description": "**Required** when using `REQUEST_CHANGES` or `COMMENT` for the `event` parameter. The body text of the pull request review."
									},
									"event": {
										"type": "string",
										"description": "The review action you want to perform. The review actions include: `APPROVE`, `REQUEST_CHANGES`, or `COMMENT`. By leaving this blank, you set the review action state to `PENDING`, which means you will need to [submit the pull request review](https://docs.github.com/rest/pulls/reviews#submit-a-review-for-a-pull-request) when you are ready.",
										"enum": ["APPROVE", "REQUEST_CHANGES", "COMMENT"]
									},
									"comments": {
										"type": "array",
										"description": "Use the following table to specify the location, destination, and contents of the draft review comment.",
										"items": {
											"type": "object",
											"properties": {
												"path": {
													"type": "string",
													"description": "The relative path to the file that necessitates a review comment."
												},
												"position": {
													"type": "integer",
													"description": "The position in the diff where you want to add a review comment. Note this value is not the same as the line number in the file. The `position` value equals the number of lines down from the first \"@@\" hunk header in the file you want to add a comment. The line just below the \"@@\" line is position 1, the next line is position 2, and so on. The position in the diff continues to increase through lines of whitespace and additional hunks until the beginning of a new file."
												},
												"body": {
													"type": "string",
													"description": "Text of the review comment."
												},
												"line": {
													"type": "integer",
													"example": 28
												},
												"side": {
													"type": "string",
													"example": "RIGHT"
												},
												"start_line": {
													"type": "integer",
													"example": 26
												},
												"start_side": {
													"type": "string",
													"example": "LEFT"
												}
											},
											"required": ["path", "body"]
										}
									}
								}
							},
							"examples": {
								"default": {
									"value": {
										"commit_id": "ecdd80bb57125d7ba9641ffaa4d7d2c19d3f3091",
										"body": "This is close to perfect! Please address the suggested inline change.",
										"event": "REQUEST_CHANGES",
										"comments": [
											{
												"path": "file.md",
												"position": 6,
												"body": "Please add more information here, and fix this typo."
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/pull-request-review"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/pull-request-review"
									}
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed_simple"
					}
				},
				"x-github": {
					"triggersNotification": true,
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "reviews"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}/comments": {
			"get": {
				"summary": "List review comments on a pull request",
				"description": "Lists all review comments for a specified pull request. By default, review comments\nare in ascending order by ID.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github-commitcomment.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github-commitcomment.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github-commitcomment.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/list-review-comments",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/comments#list-review-comments-on-a-pull-request"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					},
					{
						"$ref": "#/components/parameters/sort"
					},
					{
						"name": "direction",
						"description": "The direction to sort results. Ignored without `sort` parameter.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"]
						}
					},
					{
						"$ref": "#/components/parameters/since"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/pull-request-review-comment"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/pull-request-review-comment-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "comments"
				}
			},
			"post": {
				"summary": "Create a review comment for a pull request",
				"description": "Creates a review comment on the diff of a specified pull request. To add a regular comment to a pull request timeline, see \"[Create an issue comment](https://docs.github.com/rest/issues/comments#create-an-issue-comment).\"\n\nIf your comment applies to more than one line in the pull request diff, you should use the parameters `line`, `side`, and optionally `start_line` and `start_side` in your request.\n\nThe `position` parameter is closing down. If you use `position`, the `line`, `side`, `start_line`, and `start_side` parameters are not required.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\"\nand \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github-commitcomment.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github-commitcomment.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github-commitcomment.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/create-review-comment",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/comments#create-a-review-comment-for-a-pull-request"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"body": {
										"type": "string",
										"description": "The text of the review comment."
									},
									"commit_id": {
										"type": "string",
										"description": "The SHA of the commit needing a comment. Not using the latest commit SHA may render your comment outdated if a subsequent commit modifies the line you specify as the `position`."
									},
									"path": {
										"type": "string",
										"description": "The relative path to the file that necessitates a comment."
									},
									"position": {
										"type": "integer",
										"description": "**This parameter is closing down. Use `line` instead**. The position in the diff where you want to add a review comment. Note this value is not the same as the line number in the file. The position value equals the number of lines down from the first \"@@\" hunk header in the file you want to add a comment. The line just below the \"@@\" line is position 1, the next line is position 2, and so on. The position in the diff continues to increase through lines of whitespace and additional hunks until the beginning of a new file.",
										"deprecated": true,
										"x-github": {
											"deprecationDate": "2022-11-01"
										}
									},
									"side": {
										"type": "string",
										"description": "In a split diff view, the side of the diff that the pull request's changes appear on. Can be `LEFT` or `RIGHT`. Use `LEFT` for deletions that appear in red. Use `RIGHT` for additions that appear in green or unchanged lines that appear in white and are shown for context. For a multi-line comment, side represents whether the last line of the comment range is a deletion or addition. For more information, see \"[Diff view options](https://docs.github.com/articles/about-comparing-branches-in-pull-requests#diff-view-options)\" in the GitHub Help documentation.",
										"enum": ["LEFT", "RIGHT"]
									},
									"line": {
										"type": "integer",
										"description": "**Required unless using `subject_type:file`**. The line of the blob in the pull request diff that the comment applies to. For a multi-line comment, the last line of the range that your comment applies to."
									},
									"start_line": {
										"type": "integer",
										"description": "**Required when using multi-line comments unless using `in_reply_to`**. The `start_line` is the first line in the pull request diff that your multi-line comment applies to. To learn more about multi-line comments, see \"[Commenting on a pull request](https://docs.github.com/articles/commenting-on-a-pull-request#adding-line-comments-to-a-pull-request)\" in the GitHub Help documentation."
									},
									"start_side": {
										"type": "string",
										"description": "**Required when using multi-line comments unless using `in_reply_to`**. The `start_side` is the starting side of the diff that the comment applies to. Can be `LEFT` or `RIGHT`. To learn more about multi-line comments, see \"[Commenting on a pull request](https://docs.github.com/articles/commenting-on-a-pull-request#adding-line-comments-to-a-pull-request)\" in the GitHub Help documentation. See `side` in this table for additional context.",
										"enum": ["LEFT", "RIGHT", "side"]
									},
									"in_reply_to": {
										"type": "integer",
										"example": 2,
										"description": "The ID of the review comment to reply to. To find the ID of a review comment with [\"List review comments on a pull request\"](#list-review-comments-on-a-pull-request). When specified, all parameters other than `body` in the request body are ignored."
									},
									"subject_type": {
										"type": "string",
										"description": "The level at which the comment is targeted.",
										"enum": ["line", "file"]
									}
								},
								"required": ["body", "commit_id", "path"]
							},
							"examples": {
								"example-for-a-multi-line-comment": {
									"summary": "Example for a multi-line comment",
									"value": {
										"body": "Great stuff!",
										"commit_id": "6dcb09b5b57875f334f61aebed695e2e4193db5e",
										"path": "file1.txt",
										"start_line": 1,
										"start_side": "RIGHT",
										"line": 2,
										"side": "RIGHT"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/pull-request-review-comment"
								},
								"examples": {
									"example-for-a-multi-line-comment": {
										"$ref": "#/components/examples/pull-request-review-comment-example-for-a-multi-line-comment"
									}
								}
							}
						},
						"headers": {
							"Location": {
								"example": "https://api.github.com/repos/octocat/Hello-World/pulls/comments/1",
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"triggersNotification": true,
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "comments"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}/comments/{comment_id}/replies": {
			"post": {
				"summary": "Create a reply for a review comment",
				"description": "Creates a reply to a review comment for a pull request. For the `comment_id`, provide the ID of the review comment you are replying to. This must be the ID of a _top-level review comment_, not a reply to that comment. Replies to replies are not supported.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\"\nand \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github-commitcomment.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github-commitcomment.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github-commitcomment.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github-commitcomment.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/create-reply-for-review-comment",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/comments#create-a-reply-for-a-review-comment"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					},
					{
						"$ref": "#/components/parameters/comment-id"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"body": {
										"type": "string",
										"description": "The text of the review comment."
									}
								},
								"required": ["body"]
							},
							"examples": {
								"default": {
									"value": {
										"body": "Great stuff!"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/pull-request-review-comment"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/pull-request-review-comment"
									}
								}
							}
						},
						"headers": {
							"Location": {
								"example": "https://api.github.com/repos/octocat/Hello-World/pulls/comments/1",
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					}
				},
				"x-github": {
					"triggersNotification": true,
					"githubCloudOnly": false,
					"enabledForGitHubApps": false,
					"category": "pulls",
					"subcategory": "comments"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}/files": {
			"get": {
				"summary": "List pull requests files",
				"description": "Lists the files in a specified pull request.\n\n> [!NOTE]\n> Responses include a maximum of 3000 files. The paginated response returns 30 files per page by default.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["pulls"],
				"operationId": "pulls/list-files",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/pulls#list-pull-requests-files"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/diff-entry"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/diff-entry-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					},
					"500": {
						"$ref": "#/components/responses/internal_error"
					},
					"503": {
						"$ref": "#/components/responses/service_unavailable"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "pulls",
					"subcategory": "pulls"
				}
			}
		},
		"/repos/{owner}/{repo}/pulls/{pull_number}/update-branch": {
			"put": {
				"summary": "Update a pull request branch",
				"description": "Updates the pull request branch with the latest upstream changes by merging HEAD from the base branch into the pull request branch.\nNote: If making a request on behalf of a GitHub App you must also have permissions to write the contents of the head repository.",
				"tags": ["pulls"],
				"operationId": "pulls/update-branch",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/pulls/pulls#update-a-pull-request-branch"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/pull-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"nullable": true,
								"properties": {
									"expected_head_sha": {
										"type": "string",
										"description": "The expected SHA of the pull request's HEAD ref. This is the most recent commit on the pull request's branch. If the expected SHA does not match the pull request's HEAD, you will receive a `422 Unprocessable Entity` status. You can use the \"[List commits](https://docs.github.com/rest/commits/commits#list-commits)\" endpoint to find the most recent commit SHA. Default: SHA of the pull request's current HEAD ref."
									}
								}
							},
							"examples": {
								"default": {
									"value": {
										"expected_head_sha": "6dcb09b5b57875f334f61aebed695e2e4193db5e"
									}
								}
							}
						}
					}
				},
				"responses": {
					"202": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										},
										"url": {
											"type": "string"
										}
									}
								},
								"examples": {
									"default": {
										"value": {
											"message": "Updating pull request branch.",
											"url": "https://github.com/repos/octocat/Hello-World/pulls/53"
										}
									}
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": false,
					"category": "pulls",
					"subcategory": "pulls"
				}
			}
		},
		"/repos/{owner}/{repo}/issues": {
			"get": {
				"summary": "List repository issues",
				"description": "List issues in a repository. Only open issues will be listed.\n\n> [!NOTE]\n> GitHub's REST API considers every pull request an issue, but not every issue is a pull request. For this reason, \"Issues\" endpoints may return both issues and pull requests in the response. You can identify pull requests by the `pull_request` key. Be aware that the `id` of a pull request returned from \"Issues\" endpoints will be an _issue id_. To find out the pull request id, use the \"[List pull requests](https://docs.github.com/rest/pulls/pulls#list-pull-requests)\" endpoint.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["issues"],
				"operationId": "issues/list-for-repo",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/issues#list-repository-issues"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"name": "milestone",
						"description": "If an `integer` is passed, it should refer to a milestone by its `number` field. If the string `*` is passed, issues with any milestone are accepted. If the string `none` is passed, issues without milestones are returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "state",
						"description": "Indicates the state of the issues to return.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["open", "closed", "all"],
							"default": "open"
						}
					},
					{
						"name": "assignee",
						"description": "Can be the name of a user. Pass in `none` for issues with no assigned user, and `*` for issues assigned to any user.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "type",
						"description": "Can be the name of an issue type. If the string `*` is passed, issues with any type are accepted. If the string `none` is passed, issues without type are returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "creator",
						"description": "The user that created the issue.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "mentioned",
						"description": "A user that's mentioned in the issue.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"$ref": "#/components/parameters/labels"
					},
					{
						"name": "sort",
						"description": "What to sort results by.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["created", "updated", "comments"],
							"default": "created"
						}
					},
					{
						"$ref": "#/components/parameters/direction"
					},
					{
						"$ref": "#/components/parameters/since"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/issue"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "issues"
				}
			},
			"post": {
				"summary": "Create an issue",
				"description": "Any user with pull access to a repository can create an issue. If [issues are disabled in the repository](https://docs.github.com/articles/disabling-issues/), the API returns a `410 Gone` status.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\"\nand \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["issues"],
				"operationId": "issues/create",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/issues#create-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"title": {
										"oneOf": [
											{
												"type": "string"
											},
											{
												"type": "integer"
											}
										],
										"description": "The title of the issue."
									},
									"body": {
										"type": "string",
										"description": "The contents of the issue."
									},
									"assignee": {
										"type": "string",
										"description": "Login for the user that this issue should be assigned to. _NOTE: Only users with push access can set the assignee for new issues. The assignee is silently dropped otherwise. **This field is closing down.**_",
										"nullable": true
									},
									"milestone": {
										"oneOf": [
											{
												"type": "string"
											},
											{
												"type": "integer",
												"description": "The `number` of the milestone to associate this issue with. _NOTE: Only users with push access can set the milestone for new issues. The milestone is silently dropped otherwise._"
											}
										],
										"nullable": true
									},
									"labels": {
										"type": "array",
										"description": "Labels to associate with this issue. _NOTE: Only users with push access can set labels for new issues. Labels are silently dropped otherwise._",
										"items": {
											"oneOf": [
												{
													"type": "string"
												},
												{
													"type": "object",
													"properties": {
														"id": {
															"type": "integer"
														},
														"name": {
															"type": "string"
														},
														"description": {
															"type": "string",
															"nullable": true
														},
														"color": {
															"type": "string",
															"nullable": true
														}
													}
												}
											]
										}
									},
									"assignees": {
										"type": "array",
										"description": "Logins for Users to assign to this issue. _NOTE: Only users with push access can set assignees for new issues. Assignees are silently dropped otherwise._",
										"items": {
											"type": "string"
										}
									},
									"type": {
										"type": "string",
										"description": "The name of the issue type to associate with this issue. _NOTE: Only users with push access can set the type for new issues. The type is silently dropped otherwise._",
										"nullable": true,
										"example": "Epic"
									}
								},
								"required": ["title"]
							},
							"examples": {
								"default": {
									"value": {
										"title": "Found a bug",
										"body": "I'm having a problem with this.",
										"assignees": ["octocat"],
										"milestone": 1,
										"labels": ["bug"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/issue"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue"
									}
								}
							}
						},
						"headers": {
							"Location": {
								"example": "https://api.github.com/repos/octocat/Hello-World/issues/1347",
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/bad_request"
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					},
					"503": {
						"$ref": "#/components/responses/service_unavailable"
					}
				},
				"x-github": {
					"triggersNotification": true,
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "issues"
				}
			}
		},
		"/repos/{owner}/{repo}/issues/{issue_number}": {
			"get": {
				"summary": "Get an issue",
				"description": "The API returns a [`301 Moved Permanently` status](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api#follow-redirects) if the issue was\n[transferred](https://docs.github.com/articles/transferring-an-issue-to-another-repository/) to another repository. If\nthe issue was transferred to or deleted from a repository where the authenticated user lacks read access, the API\nreturns a `404 Not Found` status. If the issue was deleted from a repository where the authenticated user has read\naccess, the API returns a `410 Gone` status. To receive webhook events for transferred and deleted issues, subscribe\nto the [`issues`](https://docs.github.com/webhooks/event-payloads/#issues) webhook.\n\n> [!NOTE]\n> GitHub's REST API considers every pull request an issue, but not every issue is a pull request. For this reason, \"Issues\" endpoints may return both issues and pull requests in the response. You can identify pull requests by the `pull_request` key. Be aware that the `id` of a pull request returned from \"Issues\" endpoints will be an _issue id_. To find out the pull request id, use the \"[List pull requests](https://docs.github.com/rest/pulls/pulls#list-pull-requests)\" endpoint.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["issues"],
				"operationId": "issues/get",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/issues#get-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"examples": {
								"default": {
									"summary": "Get an issue"
								},
								"pinned_comment": {
									"summary": "Get an issue with a pinned comment"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/issue"
								},
								"examples": {
									"default": {
										"summary": "Issue",
										"value": {
											"$ref": "#/components/examples/issue"
										}
									},
									"pinned_comment": {
										"summary": "Issue with pinned comment",
										"value": {
											"$ref": "#/components/examples/issue-with-pinned-comment"
										}
									}
								}
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"304": {
						"$ref": "#/components/responses/not_modified"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "issues"
				}
			},
			"patch": {
				"summary": "Update an issue",
				"description": "Issue owners and users with push access or Triage role can edit an issue.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["issues"],
				"operationId": "issues/update",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/issues#update-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"title": {
										"oneOf": [
											{
												"type": "string"
											},
											{
												"type": "integer"
											}
										],
										"description": "The title of the issue.",
										"nullable": true
									},
									"body": {
										"type": "string",
										"description": "The contents of the issue.",
										"nullable": true
									},
									"assignee": {
										"type": "string",
										"nullable": true,
										"description": "Username to assign to this issue. **This field is closing down.**"
									},
									"state": {
										"type": "string",
										"description": "The open or closed state of the issue.",
										"enum": ["open", "closed"]
									},
									"state_reason": {
										"type": "string",
										"enum": [
											"completed",
											"not_planned",
											"duplicate",
											"reopened"
										],
										"nullable": true,
										"description": "The reason for the state change. Ignored unless `state` is changed.",
										"example": "not_planned"
									},
									"milestone": {
										"oneOf": [
											{
												"type": "string"
											},
											{
												"type": "integer",
												"description": "The `number` of the milestone to associate this issue with or use `null` to remove the current milestone. Only users with push access can set the milestone for issues. Without push access to the repository, milestone changes are silently dropped."
											}
										],
										"nullable": true
									},
									"labels": {
										"type": "array",
										"description": "Labels to associate with this issue. Pass one or more labels to _replace_ the set of labels on this issue. Send an empty array (`[]`) to clear all labels from the issue. Only users with push access can set labels for issues. Without push access to the repository, label changes are silently dropped.",
										"items": {
											"oneOf": [
												{
													"type": "string"
												},
												{
													"type": "object",
													"properties": {
														"id": {
															"type": "integer"
														},
														"name": {
															"type": "string"
														},
														"description": {
															"type": "string",
															"nullable": true
														},
														"color": {
															"type": "string",
															"nullable": true
														}
													}
												}
											]
										}
									},
									"assignees": {
										"type": "array",
										"description": "Usernames to assign to this issue. Pass one or more user logins to _replace_ the set of assignees on this issue. Send an empty array (`[]`) to clear all assignees from the issue. Only users with push access can set assignees for new issues. Without push access to the repository, assignee changes are silently dropped.",
										"items": {
											"type": "string"
										}
									},
									"type": {
										"type": "string",
										"description": "The name of the issue type to associate with this issue or use `null` to remove the current issue type. Only users with push access can set the type for issues. Without push access to the repository, type changes are silently dropped.",
										"nullable": true,
										"example": "Epic"
									}
								}
							},
							"examples": {
								"default": {
									"value": {
										"title": "Found a bug",
										"body": "I'm having a problem with this.",
										"assignees": ["octocat"],
										"milestone": 1,
										"state": "open",
										"labels": ["bug"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/issue"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue"
									}
								}
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					},
					"503": {
						"$ref": "#/components/responses/service_unavailable"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "issues"
				}
			}
		},
		"/repos/{owner}/{repo}/issues/{issue_number}/comments": {
			"get": {
				"summary": "List issue comments",
				"description": "You can use the REST API to list comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\n\nIssue comments are ordered by ascending ID.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["issues"],
				"operationId": "issues/list-comments",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/comments#list-issue-comments"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					},
					{
						"$ref": "#/components/parameters/since"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/issue-comment"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue-comment-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "comments"
				}
			},
			"post": {
				"summary": "Create an issue comment",
				"description": "You can use the REST API to create comments on issues and pull requests. Every pull request is an issue, but not every issue is a pull request.\n\nThis endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).\nCreating content too quickly using this endpoint may result in secondary rate limiting.\nFor more information, see \"[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)\"\nand \"[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api).\"\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\n\n- **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the default if you do not pass any specific media type.\n- **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include `body_text`.\n- **`application/vnd.github.html+json`**: Returns HTML rendered from the body's markdown. Response will include `body_html`.\n- **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`, `body_text`, and `body_html`.",
				"tags": ["issues"],
				"operationId": "issues/create-comment",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/comments#create-an-issue-comment"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"body": {
										"type": "string",
										"description": "The contents of the comment."
									}
								},
								"required": ["body"]
							},
							"examples": {
								"default": {
									"value": {
										"body": "Me too"
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/issue-comment"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue-comment"
									}
								}
							}
						},
						"headers": {
							"Location": {
								"example": "https://api.github.com/repos/octocat/Hello-World/issues/comments/1",
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"403": {
						"$ref": "#/components/responses/forbidden"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"triggersNotification": true,
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "comments"
				}
			}
		},
		"/repos/{owner}/{repo}/issues/{issue_number}/labels": {
			"get": {
				"summary": "List labels for an issue",
				"description": "Lists all labels for an issue.",
				"tags": ["issues"],
				"operationId": "issues/list-labels-on-issue",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/labels#list-labels-for-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/label"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/label-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "labels"
				}
			},
			"post": {
				"summary": "Add labels to an issue",
				"description": "Adds labels to an issue.",
				"tags": ["issues"],
				"operationId": "issues/add-labels",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/labels#add-labels-to-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"type": "object",
										"properties": {
											"labels": {
												"type": "array",
												"minItems": 1,
												"description": "The names of the labels to add to the issue's existing labels. You can also pass an `array` of labels directly, but GitHub recommends passing an object with the `labels` key. To replace all of the labels for an issue, use \"[Set labels for an issue](https://docs.github.com/rest/issues/labels#set-labels-for-an-issue).\"",
												"items": {
													"type": "string"
												}
											}
										}
									},
									{
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									{
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"name": {
													"type": "string"
												}
											},
											"required": ["name"]
										}
									}
								]
							},
							"examples": {
								"default": {
									"value": {
										"labels": ["bug", "enhancement"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/label"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/label-items"
									}
								}
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					},
					"422": {
						"$ref": "#/components/responses/validation_failed"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "labels"
				}
			}
		},
		"/repos/{owner}/{repo}/issues/{issue_number}/labels/{name}": {
			"delete": {
				"summary": "Remove a label from an issue",
				"description": "Removes the specified label from the issue, and returns the remaining labels on the issue. This endpoint returns a `404 Not Found` status if the label does not exist.",
				"tags": ["issues"],
				"operationId": "issues/remove-label",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/labels#remove-a-label-from-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/label"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/label-items-2"
									}
								}
							}
						}
					},
					"301": {
						"$ref": "#/components/responses/moved_permanently"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"410": {
						"$ref": "#/components/responses/gone"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "labels"
				}
			}
		},
		"/repos/{owner}/{repo}/issues/{issue_number}/assignees": {
			"post": {
				"summary": "Add assignees to an issue",
				"description": "Adds up to 10 assignees to an issue. Users already assigned to an issue are not replaced.",
				"tags": ["issues"],
				"operationId": "issues/add-assignees",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/assignees#add-assignees-to-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"assignees": {
										"type": "array",
										"description": "Usernames of people to assign this issue to. _NOTE: Only users with push access can add assignees to an issue. Assignees are silently ignored otherwise._",
										"items": {
											"type": "string"
										}
									}
								}
							},
							"examples": {
								"default": {
									"value": {
										"assignees": ["hubot", "other_user"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/issue"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue"
									}
								}
							}
						}
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "assignees"
				}
			},
			"delete": {
				"summary": "Remove assignees from an issue",
				"description": "Removes one or more assignees from an issue.",
				"tags": ["issues"],
				"operationId": "issues/remove-assignees",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/issues/assignees#remove-assignees-from-an-issue"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/issue-number"
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"assignees": {
										"type": "array",
										"description": "Usernames of assignees to remove from an issue. _NOTE: Only users with push access can remove assignees from an issue. Assignees are silently ignored otherwise._",
										"items": {
											"type": "string"
										}
									}
								}
							},
							"examples": {
								"default": {
									"value": {
										"assignees": ["hubot", "other_user"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/issue"
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/issue"
									}
								}
							}
						}
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "issues",
					"subcategory": "assignees"
				}
			}
		},
		"/repos/{owner}/{repo}/commits": {
			"get": {
				"summary": "List commits",
				"description": "**Signature verification object**\n\nThe response will include a `verification` object that describes the result of verifying the commit's signature. The following fields are included in the `verification` object:\n\n| Name | Type | Description |\n| ---- | ---- | ----------- |\n| `verified` | `boolean` | Indicates whether GitHub considers the signature in this commit to be verified. |\n| `reason` | `string` | The reason for verified value. Possible values and their meanings are enumerated in table below. |\n| `signature` | `string` | The signature that was extracted from the commit. |\n| `payload` | `string` | The value that was signed. |\n| `verified_at` | `string` | The date the signature was verified by GitHub. |\n\nThese are the possible values for `reason` in the `verification` object:\n\n| Value | Description |\n| ----- | ----------- |\n| `expired_key` | The key that made the signature is expired. |\n| `not_signing_key` | The \"signing\" flag is not among the usage flags in the GPG key that made the signature. |\n| `gpgverify_error` | There was an error communicating with the signature verification service. |\n| `gpgverify_unavailable` | The signature verification service is currently unavailable. |\n| `unsigned` | The object does not include a signature. |\n| `unknown_signature_type` | A non-PGP signature was found in the commit. |\n| `no_user` | No user was associated with the `committer` email address in the commit. |\n| `unverified_email` | The `committer` email address in the commit was associated with a user, but the email address is not verified on their account. |\n| `bad_email` | The `committer` email address in the commit is not included in the identities of the PGP key that made the signature. |\n| `unknown_key` | The key that made the signature has not been registered with any user's account. |\n| `malformed_signature` | There was an error parsing the signature. |\n| `invalid` | The signature could not be cryptographically verified using the key whose key-id was found in the signature. |\n| `valid` | None of the above errors applied, so the signature is considered to be verified. |",
				"tags": ["repos"],
				"operationId": "repos/list-commits",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/commits/commits#list-commits"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"name": "sha",
						"description": "SHA or branch to start listing commits from. Default: the repository\u2019s default branch (usually `main`).",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "path",
						"description": "Only commits containing this file path will be returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "author",
						"description": "GitHub username or email address to use to filter by commit author.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "committer",
						"description": "GitHub username or email address to use to filter by commit committer.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "since",
						"description": "Only show results that were last updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`. Due to limitations of Git, timestamps must be between 1970-01-01 and 2099-12-31 (inclusive) or unexpected results may be returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"name": "until",
						"description": "Only commits before this date will be returned. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`. Due to limitations of Git, timestamps must be between 1970-01-01 and 2099-12-31 (inclusive) or unexpected results may be returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"format": "date-time"
						}
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/commit"
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/commit-items"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/bad_request"
					},
					"404": {
						"$ref": "#/components/responses/not_found"
					},
					"409": {
						"$ref": "#/components/responses/conflict"
					},
					"500": {
						"$ref": "#/components/responses/internal_error"
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "commits",
					"subcategory": "commits"
				}
			}
		},
		"/repos/{owner}/{repo}/commits/{ref}/check-runs": {
			"get": {
				"summary": "List check runs for a Git reference",
				"description": "Lists check runs for a commit ref. The `ref` can be a SHA, branch name, or a tag name.\n\n> [!NOTE]\n> The endpoints to manage checks only look for pushes in the repository where the check suite or check run were created. Pushes to a branch in a forked repository are not detected and return an empty `pull_requests` array.\n\nIf there are more than 1000 check suites on a single git reference, this endpoint will limit check runs to the 1000 most recent check suites. To iterate over all possible check runs, use the [List check suites for a Git reference](https://docs.github.com/rest/reference/checks#list-check-suites-for-a-git-reference) endpoint and provide the `check_suite_id` parameter to the [List check runs in a check suite](https://docs.github.com/rest/reference/checks#list-check-runs-in-a-check-suite) endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint on a private repository.",
				"tags": ["checks"],
				"operationId": "checks/list-for-ref",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/checks/runs#list-check-runs-for-a-git-reference"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/commit-ref"
					},
					{
						"$ref": "#/components/parameters/check-name"
					},
					{
						"$ref": "#/components/parameters/status"
					},
					{
						"name": "filter",
						"description": "Filters check runs by their `completed_at` timestamp. `latest` returns the most recent check runs.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["latest", "all"],
							"default": "latest"
						}
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					},
					{
						"name": "app_id",
						"in": "query",
						"required": false,
						"schema": {
							"type": "integer"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": ["total_count", "check_runs"],
									"properties": {
										"total_count": {
											"type": "integer"
										},
										"check_runs": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/check-run"
											}
										}
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/check-run-paginated"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "checks",
					"subcategory": "runs"
				}
			}
		},
		"/repos/{owner}/{repo}/actions/runs": {
			"get": {
				"summary": "List workflow runs for a repository",
				"description": "Lists all workflow runs for a repository. You can use parameters to narrow the list of results. For more information about using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).\n\nAnyone with read access to the repository can use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.\n\nThis endpoint will return up to 1,000 results for each search when using the following parameters: `actor`, `branch`, `check_suite_id`, `created`, `event`, `head_sha`, `status`.",
				"tags": ["actions"],
				"operationId": "actions/list-workflow-runs-for-repo",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/actions/workflow-runs#list-workflow-runs-for-a-repository"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/actor"
					},
					{
						"$ref": "#/components/parameters/workflow-run-branch"
					},
					{
						"$ref": "#/components/parameters/event"
					},
					{
						"$ref": "#/components/parameters/workflow-run-status"
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
						"$ref": "#/components/parameters/page"
					},
					{
						"$ref": "#/components/parameters/created"
					},
					{
						"$ref": "#/components/parameters/exclude-pull-requests"
					},
					{
						"$ref": "#/components/parameters/workflow-run-check-suite-id"
					},
					{
						"$ref": "#/components/parameters/workflow-run-head-sha"
					}
				],
				"responses": {
					"200": {
						"description": "Response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": ["total_count", "workflow_runs"],
									"properties": {
										"total_count": {
											"type": "integer"
										},
										"workflow_runs": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/workflow-run"
											}
										}
									}
								},
								"examples": {
									"default": {
										"$ref": "#/components/examples/workflow-run-paginated"
									}
								}
							}
						},
						"headers": {
							"Link": {
								"$ref": "#/components/headers/link"
							}
						}
					}
				},
				"x-github": {
					"githubCloudOnly": false,
					"enabledForGitHubApps": true,
					"category": "actions",
					"subcategory": "workflow-runs"
				}
			}
		},
		"/repos/{owner}/{repo}/actions/runs/{run_id}/jobs": {
			"get": {
				"summary": "List jobs for a workflow run",
				"description": "Lists jobs for a workflow run. You can use parameters to narrow the list of results. For more information\nabout using parameters, see [Parameters](https://docs.github.com/rest/guides/getting-started-with-the-rest-api#parameters).\n\nAnyone with read access to the repository can use this endpoint.\n\nOAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint with a private repository.",
				"tags": ["actions"],
				"operationId": "actions/list-jobs-for-workflow-run",
				"externalDocs": {
					"description": "API method documentation",
					"url": "https://docs.github.com/rest/actions/workflow-jobs#list-jobs-for-a-workflow-run"
				},
				"parameters": [
					{
						"$ref": "#/components/parameters/owner"
					},
					{
						"$ref": "#/components/parameters/repo"
					},
					{
						"$ref": "#/components/parameters/run-id"
					},
					{
						"name": "filter",
						"description": "Filters jobs by their `completed_at` timestamp. `latest` returns jobs from the most recent execution of the workflow run. `all` returns all jobs for a workflow run, including from old executions of the workflow run.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["latest", "all"],
							"default": "latest"
						}
					},
					{
						"$ref": "#/components/parameters/per-page"
					},
					{
[...]
